## Business Problem

American Mortgage Bank grapples with the complexities of an evolving real estate landscape, navigating through shifting market dynamics and fluctuating trends. As the bank aims to refine its lending strategies, enhance risk assessments, and innovate its suite of mortgage products, it encounters obstacles in deciphering the nuances of the ever-changing market.

In response to these challenges, American Mortgage Bank seeks to harness the power of data-driven insights and advanced analytics to gain a comprehensive understanding of market trends. By leveraging predictive tools and machine learning algorithms, VitaGroup aims to revolutionize the real estate market by providing financial institutions with a deeper understanding of market trends through time series analysis. This insight will inform lending strategies and facilitate innovation in the range of mortgage products offered by the bank.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Neighborhood_month.csv")
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,67383.031641,...,3.176412e+05,3.194960e+05,3.219764e+05,3.249856e+05,3.276488e+05,3.300777e+05,3.321366e+05,3.337132e+05,3.347330e+05,3.357045e+05
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,133640.057992,...,3.607395e+05,3.614624e+05,3.632721e+05,3.661695e+05,3.690387e+05,3.715277e+05,3.736861e+05,3.757784e+05,3.776834e+05,3.795126e+05
2,270958,2,Upper West Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,394692.554604,...,1.293743e+06,1.287903e+06,1.281592e+06,1.271799e+06,1.261754e+06,1.250664e+06,1.238787e+06,1.231254e+06,1.225646e+06,1.219479e+06
3,270957,3,Upper East Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,641748.074378,...,1.265151e+06,1.259556e+06,1.255193e+06,1.250717e+06,1.246179e+06,1.237942e+06,1.226768e+06,1.216496e+06,1.209650e+06,1.203629e+06
4,118208,4,South Los Angeles,neighborhood,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,130878.148719,...,6.354036e+05,6.391914e+05,6.465671e+05,6.564532e+05,6.664609e+05,6.749575e+05,6.815551e+05,6.858569e+05,6.835768e+05,6.770799e+05

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21662 entries, 0 to 21661
Columns: 299 entries, RegionID to 2024-02-29
dtypes: float64(290), int64(2), object(7)
memory usage: 49.4+ MB

In [4]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RegionID,21662.0,500918.609777,277512.015416,3324.000000,270163.250000,416458.000000,806953.750000,8.320020e+05
SizeRank,21662.0,12368.167390,7597.011991,0.000000,5653.000000,12023.500000,18855.250000,2.709500e+04
2000-01-31,11184.0,160775.129351,136428.620660,3419.718372,82083.623821,125035.458229,188589.030216,3.156245e+06
2000-02-29,11262.0,160893.877403,136867.468771,3392.786003,81850.819143,125001.916646,188670.785190,3.184650e+06
2000-03-31,11273.0,161449.927747,137733.882240,3389.448898,81955.567862,125326.126416,189276.795124,3.219289e+06
...,...,...,...,...,...,...,...,...
2023-10-31,20223.0,490578.278280,496025.176904,20112.703125,237789.491870,373104.762270,575165.021983,1.614703e+07
2023-11-30,20858.0,490376.002673,512272.130317,19601.181716,238201.290681,371395.526939,571335.599581,1.911595e+07
2023-12-31,21515.0,491610.586881,513154.255316,19133.815769,241337.439511,374770.659049,572393.797748,1.901829e+07
2024-01-31,21662.0,491746.652688,511376.502124,18952.034298,242249.954500,375512.500390,572521.017883,1.899806e+07
2024-02-29,21662.0,492393.353446,510915.659430,19105.569065,243006.499443,376069.479954,573717.159703,1.910750e+07

In [5]:
df.shape

(21662, 299)

In [14]:
sum([True for idx,row in df.iterrows() if any(row.isnull())])
#rows_with_missing_values = sum(df.apply(lambda x: any(x.isnull()), axis=1))

1507353

In [7]:
#droping rows
#df.dropna(inplace=True)

In [8]:
df.shape

(21662, 299)

In [9]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,67383.031641,...,3.176412e+05,3.194960e+05,3.219764e+05,3.249856e+05,3.276488e+05,3.300777e+05,3.321366e+05,3.337132e+05,3.347330e+05,3.357045e+05
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,133640.057992,...,3.607395e+05,3.614624e+05,3.632721e+05,3.661695e+05,3.690387e+05,3.715277e+05,3.736861e+05,3.757784e+05,3.776834e+05,3.795126e+05
2,270958,2,Upper West Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,394692.554604,...,1.293743e+06,1.287903e+06,1.281592e+06,1.271799e+06,1.261754e+06,1.250664e+06,1.238787e+06,1.231254e+06,1.225646e+06,1.219479e+06
3,270957,3,Upper East Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,641748.074378,...,1.265151e+06,1.259556e+06,1.255193e+06,1.250717e+06,1.246179e+06,1.237942e+06,1.226768e+06,1.216496e+06,1.209650e+06,1.203629e+06
4,118208,4,South Los Angeles,neighborhood,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,130878.148719,...,6.354036e+05,6.391914e+05,6.465671e+05,6.564532e+05,6.664609e+05,6.749575e+05,6.815551e+05,6.858569e+05,6.835768e+05,6.770799e+05

In [10]:
#d_vars = data.columns[:9]  # Include only the first 9 columns as ID variables
# Transforming the dataset from wide to long format
# We will melt the dataframe, treating everything except the date columns as id variables
date_columns = df.columns[9:]  # Exclude non-date columns
id_vars = df.columns[:9]  # Include only the first 9 columns as ID variables

In [11]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,67383.031641,...,3.176412e+05,3.194960e+05,3.219764e+05,3.249856e+05,3.276488e+05,3.300777e+05,3.321366e+05,3.337132e+05,3.347330e+05,3.357045e+05
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,133640.057992,...,3.607395e+05,3.614624e+05,3.632721e+05,3.661695e+05,3.690387e+05,3.715277e+05,3.736861e+05,3.757784e+05,3.776834e+05,3.795126e+05
2,270958,2,Upper West Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,394692.554604,...,1.293743e+06,1.287903e+06,1.281592e+06,1.271799e+06,1.261754e+06,1.250664e+06,1.238787e+06,1.231254e+06,1.225646e+06,1.219479e+06
3,270957,3,Upper East Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,641748.074378,...,1.265151e+06,1.259556e+06,1.255193e+06,1.250717e+06,1.246179e+06,1.237942e+06,1.226768e+06,1.216496e+06,1.209650e+06,1.203629e+06
4,118208,4,South Los Angeles,neighborhood,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,130878.148719,...,6.354036e+05,6.391914e+05,6.465671e+05,6.564532e+05,6.664609e+05,6.749575e+05,6.815551e+05,6.858569e+05,6.835768e+05,6.770799e+05

In [12]:
#df.shape

In [13]:
 #Transforming the dataset from wide to long format
# We will melt the dataframe, treating everything except the date columns as id variables
date_columns = df.columns[9:]  # Exclude non-date columns
id_vars = df.columns[:9]  # Include only the first 9 columns as ID variables

df = pd.melt(df, id_vars=id_vars, value_vars=date_columns, var_name='Date', value_name='HomeValue')

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])
# Now, lets see how many rows have missing 'HomeValue'
missing_home_values = df['HomeValue'].isnull().sum()
total_rows = df.shape[0]
missing_home_values_percentage = (missing_home_values / total_rows) * 100

missing_home_values, missing_home_values_percentage

(1505094, 23.958911043970215)